
# DFX CANISTER ENVIRONMENT VARIABLES
DFX_VERSION='0.28.0'
DFX_NETWORK='local'
CANISTER_ID_JOB_CONTRACT='u6s2n-gx777-77774-qaaba-cai'
CANISTER_ID_IDENTITY_CONTRACT='uxrrr-q7777-77774-qaaaq-cai'
CANISTER_ID_CHAT_CONTRACT='ulvla-h7777-77774-qaacq-cai'
CANISTER_ID_AGENT_CONTRACT='umunu-kh777-77774-qaaca-cai'
CANISTER_ID='umunu-kh777-77774-qaaca-cai'
CANISTER_CANDID_PATH='/mnt/c/Users/User.DESKTOP-T74KNS1/Documents/kelompok/icp_contracts/.dfx/local/canisters/agent_contract/agent_contract.did'
# END DFX CANISTER ENVIRONMENT VARIABLES
